<?xml version="1.0"?>

<model>
  <name>Pan Tilt Targeting System</name>

  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Fatih Ayabakan</name>
    <email>ayabakanfatih@gmail.com</email>
  </author>

  <description>
    Two-axis pan and tilt targeting mechanism for Gazebo Harmonic.
  </description>
</model>
