<?xml version="1.0"?>
<model>
  <name>Heybeliada Gun Pan Tilt Test</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Fatih Ayabakan</name>
  </author>
  <description>TCG Heybeliada CAD modelinden ayrılan top kaportası ve namlu için pan-tilt uyumluluk testi.</description>
</model>
